/* ROOT STYLES */
:root {
    --primary-color: #0e1f1f;
    --secondary-color: #b4eded;
    --light-color: #e7fcfc;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

/* Page Body */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: #e7fcfc;
}

/* HEADER SECTION */

.heading {
    background-color: rgba(4, 26, 26, 0.9);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

/* Header Logo */
.box1 {
    font-family: 'Indie Flower', cursive;
    padding: 1.5rem;
}

.box1 a {
    font-size: 3rem;
}

/* Navbar section */

.flex-list {
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 1.5rem;
}

.menu:hover {
    color: var(--primary-color);
}

.list-box{
    padding: 1rem 0;
    color: var(--secondary-color);
}

.list-box a {
    display: inline-block;
    padding: 0 2rem;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.list-box:hover {
    background: var(--secondary-color);
    border-radius: 10px;
    color: var(--primary-color);
}

.list-box a:hover {
    color: var(--primary-color);
    font-weight: bold;
}

.icon {
    padding: 1.5rem;
}

/* MAIN SECTION */

.hero {
    text-align: center;
    height: 100vh;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background: url(/img/hero-img.jpg) no-repeat center center/cover;
}

.intro {
    margin-top: auto;
    height: 25%;
}

.intro h1 {
    overflow: hidden;
    border-right: .15em solid var(--primary-color);
    font-size: 2.5rem;
    letter-spacing: .15em;
    
    -webkit-animation: 
      typing 3.5s steps(22, end) 4500ms backwards,
      blink-caret .75s step-end 4500ms infinite backwards;
    
            animation: 
      typing 3.5s steps(22, end) 4500ms backwards,
      blink-caret .75s step-end 4500ms infinite backwards;
    white-space: nowrap;
}

 /* The typing effect */
@-webkit-keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #0e1f1f }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #0e1f1f }
}

.intro-btn {
    height: 35%;
}

.intro-button {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 1rem 1.4rem;
    border-radius: 8px;
    margin: 10px;
    white-space: nowrap;
    cursor: pointer;
}

.intro-button:hover {
    color: var(--secondary-color);
    background: var(--primary-color);
    box-shadow: 3px 3px 10px 6px var(--secondary-color);
}


/* About Me Section */

.about-me {
    padding: 3rem 1rem;
}
.about-me h3 {
    text-align: center;
    font-size: 2rem;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem 0;
}

.box {
    padding: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

/* About Me Image */
.box-img img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 6px var(--secondary-color);
}

.box-img img:hover {
    transform: scale(1.25);
}

/* About Me Text */
.box-text {
    line-height: 2.6rem;
    font-size: 1.6rem;
}

/* About Me buttons */
.btn {
    text-align: center;
    margin-top: 4rem;
}

.about-btn {
    display: inline-block;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem 1.4rem;
    border-radius: 8px;
    margin: 1.4rem 1rem;
    white-space: nowrap;
    cursor: pointer;
}

.about-btn:hover {
    transform: translateY(10px);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    box-shadow: 3px 3px 10px 6px var(--secondary-color);
}

/* Skills Section */

.skills {
    background: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    font-size: 1.8rem;
    padding: 10px 10px 30px;
}

.skills-container {
    display: flex;
    width: 95%;
    margin: 0 auto;
}

.skills-container span {
    display: block;
    text-align: left;
    padding-bottom: 10px;
}

.skills-list {
    width: 45%;
    margin-left: auto;
}

.skills-icon i {
    display: block;
    width: 70px;
    position: relative;
    padding: 9px 10px 10px;
    animation: animated_icon 5s infinite;
}

@keyframes animated_icon {
    0% {
        transform: rotate(0deg);
        left: 0px;
    }
    25% {
        transform: rotate(20deg);
        left: 0px;
        color:  #e34c26;
    }
    50% {
        transform: rotate(0deg);
        left: 120px;
        color: #F0DB4F;
    }
    55% {
        transform: rotate(180deg);
        left: 120px;
        color: #602C50;
    }
    70% {
        transform: rotate(320deg);
        left: 120px;
        color: #264de4; 
    }
    100% {
        transform: rotate(-360deg);
        left: 0px;
    }
}

/* Projects Section */

.projects {
    font-size: 1.6rem;
    text-align: center;
    margin: 3rem 2rem;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pro-box {
    width: 320px;
    margin: 3rem auto;
    padding: 0 16px;
}

.iframe{
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 6px var(--secondary-color);
}

.iframe img {
    width: 100%;
    height: 100%;
    border-radius: 14px;
}

/* Testimonial Section */

.testimonials {
    background: var(--secondary-color);
    text-align: center;
    padding: 3rem 1.5rem;
    color: var(--primary-color);
}

.test-container {
    display: flex;
    flex-wrap: wrap;
}

.test-card {
    width: 280px;
    margin: 2rem auto;
    background: var(--light-color);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.09),
    0 100px 80px rgba(0, 0, 0, 0.2);
}

.test-head {
    border-bottom: 1px solid var(--primary-color);
}

.test-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
}

.test-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.test-msg {
    display: flex;
    text-align: left;
}

.test-msg p {
    font-style: 1rem;
}

.test-msg span:first-child {
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 10px;
}

.test-msg span:last-child {
    font-size: 4rem;
    align-self: flex-end;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 10px;
}

/* Masonry Grid Layout Section */
.gallery {
    padding: 3rem 0;
}

.gallery h3{
    font-size: 1.8rem;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, 260px);
    grid-auto-flow: dense;
    padding: 1rem;
}

.col--2x {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

/* 
.col--2x {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.col--3x {
    grid-column-end: span 3;
    grid-row-end: span 3;
} */

.grid-item {
    border-radius: 1rem;
}

.content {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 3px 2px 8px 4px var(--secondary-color);
}


.content:hover {
    transform: scale(1.25);
}

/* Back To Top button */
.back {
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 60rem;
}

.btt-btn {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: 2px solid var(--secondary-color);
    padding: 1rem 1.4rem;
    border-radius: 8px;
    margin: 10px;
    white-space: nowrap;
    cursor: pointer;
}

/* FOOTER SECTION */

 /* Footer Subscribe Form */
.form{
    background: var(--secondary-color);
    color: var(--primary-color);
}

.contact-form {
    padding: 30px;
    text-align: center;
    font-size: 1.8rem;
}

.subscribe-form {
    width: 80%;
    max-width: 760px;
    margin: 0 auto;
}

.form-input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--primary-color);
    width: 80%;
    border-radius: 8px;
    color: var(--primary-color);
}

.subscribe-form textarea {
    resize: none;
}

.submit {
    width: 20%;
    color: var(--primary-color);
    cursor: pointer;
}

.subscribe-form input:focus,
.subscribe-form textarea:focus {
    outline: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);

}

.subscribe {
    text-align: center;
    padding: 3rem 1rem;
}

.subscribe form {
    background-color: var(--secondary-color);
    border-radius: 1rem;
}

.subscribe input {
    padding: 0.1rem;
    background-color: var(--secondary-color);
}

.subscribe-email {
    border-style: hidden;
    border-right: 3px solid #0e1f1f;
    width: 70%;
}

.subscribe-submit {
    border-radius: 0 10px 10px 0;
    border-style: hidden; 
    cursor: pointer;
    width: 20%;
}

.subscribe input:focus {
    outline: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Footer contact links */
a {
    text-decoration: none;
    color: #e7fcfc;
    font-size: 1.5rem;
}

.contact {
    text-align: center;
    font-size: 1.4rem;
}

.contact ul {
    padding: 0;
}

.contact li {
    display: inline-block;
    list-style: none;
    width: 20%;
}

.contact span {
    display: none;
}

.foot{
    font-size: 1.6rem;
}

.fas:hover,
.fab:hover {
color: var(--secondary-color);
}

/* Footer Copyright */
.foot p {
    text-align: center;
    font-size: 1rem;
}

@media screen and (min-width: 576px) {
    .col--3x {
        grid-column-end: span 3;
        grid-row-end: span 3;
    }
}

/* For Media Screens 768px and above */

@media screen and (min-width: 768px) {

    html{
        font-size: 12px;
    }

    #navBar {
        display: flex;
        width: 85%;
        margin-left: auto;
        flex-direction: row;
        text-align: center;
        flex-wrap: nowrap;
        padding: 1.5rem;
    }
    
    .list-box{
        width: 20%;
        white-space: nowrap;
    }

    .list-box a {
        font-size: 1.4rem;
        padding: 0 1rem;
    }

    .icon {
        display: none;
    }

    .intro-button {
        background-color: var(--light-color);
        color: var(--primary-color);
        box-shadow: 2px 2px 10px 4px;
    }

    .about-container {
        flex-wrap: nowrap;
    }

    .box-img img {
        max-width: 350px;
        max-height: 500px;
    }

    .skills-icon i {
        padding: 12px 10px 10px;
        animation: animated_icon 5s infinite;
    }
    
    @keyframes animated_icon {
        0% {
            transform: rotate(0deg);
            left: 0px;
        }
        25% {
            transform: rotate(20deg);
            left: 0px;
            color:  #e34c26;
        }
        50% {
            transform: rotate(0deg);
            left: 250px;
            color: #F0DB4F;
        }
        55% {
            transform: rotate(180deg);
            left: 250px;
            color: #602C50;
        }
        70% {
            transform: rotate(320deg);
            left: 250px;
            color: #264de4; 
        }
        100% {
            transform: rotate(-360deg);
            left: 0px;
        }
    }
    
    .contact span {
        display: inline-block;
    }
}
