/* ROOT STYLES */
html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

/* Page Body */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0e1f1f;
    color: #e7fcfc;
}

/* HEADER SECTION */

.heading {
    height: 6rem;
    width: 100%;
    background-color: rgba(28, 133, 133, 0.2);
}

/* Header Logo */
.heading h1 {
    display: none;
}

/* Navbar section */
nav {
    float: right;
}

nav ul {
    padding-left: 0px;  
}

nav li {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    line-height: 4rem;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #e7fcfc;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
}

nav a:hover,
nav a.active {
    background-color: #59c4c4;
    border-radius: 5px;
    text-align: center;
    color: #0e1f1f;
    transition: .6s;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* MAIN SECTION */
/* About Me Section */
.about-me {
    width: 80%;
    margin: 20px auto;
    font-size: 1.6rem;
    box-sizing: border-box;
}

.about-text,
.about-img {
    float: left;
}

/* About Me Text */

.about-text {
    width: 100%;
    text-align: center;
}

.about-t {
    width: 80%;
    margin: 20px auto;
    line-height: 2.4rem;
}

/* About Me Image */
.about-img {
    width: 100%;
    text-align: center;
}

.about-img img {
    width: 80%;
    margin: 20px auto;
    box-shadow: 3px 3px 10px 6px #59c4c4;
}

/* About Me buttons */
.btn {
    text-align: center;
    margin-top: 4rem;
}

.about-btn {
    background-color: #59c4c4;
    color: #0e1f1f;
    padding: 1rem 1.4rem;
    border-radius: 8px;
    margin: 10px;
}

/* Skills Section */

.skills {
    background: #59c4c4;
    color: #0e1f1f;
    text-align: center;
    font-size: 1.8rem;
    padding: 30px;
}

.tech-skills {
    margin-bottom: 1.4em;
}

.tech-skills i {
    width: 40%;
}

/* Progress bar Styling */
progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 10px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #0e1f1f, #59c4c4);
  
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* Projects Section */
.projects {
    width: 80%;
    margin: 0 auto;
    font-size: 1.6rem;
    text-align: center;
    padding: 30px;
}

.first,
.second,
.third,
.fourth {
    margin-bottom: 4rem;
}

/* FOOTER SECTION */
 /* Footer Subscribe Form */
.subscribe {
    padding: 30px;
}

.subscribe-form {
    width: 80%;
    max-width: 760px;
    margin: 0 auto;
    color: #0e1f1f;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #59c4c4;
    width: 80%;
    border-bottom: 2px solid #0e1f1f;
    border-radius: 8px;
}

textarea {
    width: 80%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom: 2px solid #0e1f1f;
    border-radius: 8px;
    background-color: #59c4c4;
    resize: none;
}

.submit {
    width: 20%;
}

input:focus {
    outline: none;
}

.form-message:focus {
    outline: none;
}

/* Footer contact links */
a {
    text-decoration: none;
    color: #e7fcfc;
    font-size: 1.5rem;
}

.contact {
    text-align: center;
    font-size: 1.4rem;
}

.contact li {
    display: inline-block;
    list-style: none;
    width: 20%;
}

.contact span {
    display: none;
}

.foot{
    font-size: 1.6rem;
}

.fas:hover,
.fab:hover {
color: #59c4c4;
}

/* Footer Copyright */
.foot p {
    text-align: center;
    font-size: 1rem;
}


/* For Media Screens 768px and above */

@media screen and (min-width: 768px) {
    nav a {
        padding: 10px 14px;
    }

    .heading h1 {
        display: inline-block;
        line-height: 1rem;
        font-size: 4.5rem;
        margin-left: 20px;
        font-family: 'Indie Flower', cursive;
    }

    .about-text,
    .about-img {
        width: 50%;
    }

    .about-img img {
        max-width: 350px;
        max-height: 500px;
    }

    .about-text {
        margin-top: 5rem;
    }

    .contact span {
        display: inline-block;
    }
}

/*For Media Screen 992px and above */

@media (min-width: 992px) {
    .project-card {
        display: grid;
        grid-gap: 30px;
        grid-template-rows: auto auto;
        justify-content: center;
        grid-template-areas:
        "a b"
        "c d";
    }

    .first {
        grid-area: a;
    }

    .second {
        grid-area: b;
        margin-bottom: 0;
    }

    .third {
        grid-area: c;
    }

    .fourth {
        grid-area: d;
    }
}